# amateur radio bands:
#   https://www.arrl.org/files/file/Regulatory/Band%20Chart/Band%20Chart%20-%2011X17%20Color.pdf

BAND SIM-1  0.2  2.1
#BAND SIM-2  0.2  2.1
BAND SIM-2  0.5  0.58
BAND SIM-3  0.5  0.58



# okay BAND SIM  0.4  1.6

#BAND SIM  0.5  0.58
#STATION 0.5  WTING
#STATION 0.8  WNFA

BAND FM    88.0 108.0
STATION 90.9  WBUR
STATION 104.5 WXLO
STATION 100.7 WZLX
STATION 103.3 WBGB
STATION 104.5 WXLO

BAND AM    0.540 1.700
STATION 1.030 WBZ

BAND    80M     3.5 4.0 0

BAND    40M     7.0 7.3 0

BAND    WWV5    4.95 5.05 0

