#    name   min   max step       freq demod squelch selected active

BAND TEST  0.4  1.6   0         0.8       0       0        1      1
STATION 0.5  WTING
STATION 0.8  WNFA

BAND FM    88.0 108.0  0.2      100.7     0       0        1      1
STATION 90.9  WBUR
STATION 104.5 WXLO
STATION 100.7 WZLX
STATION 103.3 WBGB
STATION 104.5 WXLO

# check the am freq band, maybe start at 0.530 to 1.700
BAND AM    0.535 1.705 0.010   1.030     1       0         1     0
STATION 1.030 WBZ

BAND    80M     3.5 4.0 0         3.6    1 0 1 0

BAND    40M     7.0 7.3 0         7.125  1 0 1 0

BAND    WWV5    4.95 5.05 0       5.0   1 0 1 0

# program settings
VAR  zoom       0
VAR  volume     40
VAR  mute       0
VAR  scan_intvl 5
VAR  help       0

