# amateur radio bands:
#   https://www.arrl.org/files/file/Regulatory/Band%20Chart/Band%20Chart%20-%2011X17%20Color.pdf

BAND SIM_AM   0.5  0.6   0.010 0.000 AM
BAND SIM_LSB  0.61 0.63  0.010 0.000 LSB
BAND SIM_USB  0.67 0.69  0.010 0.000 USB
BAND SIM_FM   1.0  1.2   0.200 0.100 FM



# okay BAND SIM  0.4  1.6

#BAND SIM  0.5  0.58
#STATION 0.5  WTING
#STATION 0.8  WNFA

#BAND FM    88.0 108.0
#STATION 90.9  WBUR
#STATION 104.5 WXLO
#STATION 100.7 WZLX
#STATION 103.3 WBGB
#STATION 104.5 WXLO

#BAND AM    0.540 1.700
#STATION 1.030 WBZ

#BAND    80M     3.5 4.0 0

#BAND    40M     7.0 7.3 0

#BAND    WWV5    4.95 5.05 0

